@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: goldenrod;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: goldenrod;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
 
/**/

.opening {
  background-image: url(home.jpg);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
   color: black;
   width:100%;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-right: 40px;
   padding-left:40px;
}



.slide {
  width:1800px;
  height: 1500px;
object-fit: contain;
}

h1 {
     font-size: 72px;
     padding-bottom: 350px;
     text-align: left;
     font-weight: normal;
   }

.trading-hours {
  width: 450px;
  display:inline-block;
  font-size: xx-large; 
  text-align: center; 
  border: 2px solid gold;
  margin-left: 260px;
  padding-left: 10%;
  padding-right: 10%;
}

.about, .delivery, .social{
  text-align: center;
  vertical-align: top;
}

.image {
  display: flex;
}

h2 {
  font-family:"Playfair Display"
}

span {
  font-weight: bold;
}

.two {
  border-bottom-style: dotted;
 border-bottom-width:5px;
}
