@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
.navbar {
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    position: fixed;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: goldenrod;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    left: 0;
    background-color: goldenrod;
    width: 100%;
    z-index: 1;
    position: fixed;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
 
/**/


#home{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: 10%; /*fix*/
}

#home_content{
  position: absolute;
  color:#eee;
}

#home_content a{
  border: 9px soild gold;/*fix border*/
  color: #eee;
  padding: 3px 20px 3px 20px;
  background: rgb(0, 0, 0, 0.6);
  font-size: 1.5rem;
}

h1 {
  color: #eee;
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px #000;
  display:flex;
  justify-content: space-around;
  font-size: 500%;
}



.about, .delivery, .social{
  text-align: center;
  vertical-align: top;
}

.image {
  display: flex;
}

h2 {
  font-family:"Playfair Display";
  font-size: 300%;
}

span {
  font-weight: bold;
}

.two {
  border-bottom-style: dotted;
 border-bottom-width:5px;
}

img {
width:1300px;
margin: 10px;
}



